/**********/
/* COLORS */
/**********/

@define-color bg-color        #222222;
@define-color def-color       #ffffff;
@define-color drk-grey-color  #474747;

/*****************/
/* MAIN SETTINGS */
/*****************/

* {
    font-family: JetBrainsMonoNL Nerd Font Propo, Symbols Nerd Font;
    font-weight: bold;
    border: none;
}

window#waybar {
    background-color: transparent;
    color: @def-color;
    transition-property: background-color;
    transition-duration: 1s;
}

window#waybar.empty #window {
    background-color: transparent;
    transition: none;
}

/*******************************/
/* MODULES LEFT, CENTER, RIGHT */
/*******************************/

.modules-left {
    background-color: transparent;
	border-radius: 12px;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 4px;
}

.modules-center {
    font-size: 14px;
    background-color: @bg-color;
    border-radius: 12px;
    margin-top: 4px;
}

.modules-right {
    font-size: 14px;
    background-color: @bg-color;
    border-radius: 12px;
    margin-right: 4px;
    margin-top: 4px;
}

/****************/
/* MODULES LEFT */
/****************/

#workspaces {
    background-color: @bg-color;
	border-radius: 11px;
    padding: 0px 4px;
}

#workspaces button {
    font-size: 5px;
    background-color: @drk-grey-color;
    margin: 6px 4px;
    padding: 0px 0px;
    min-width: 18px;
    min-height: 18px;
	border-radius: 20px;
    transition-property: all;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.7, 0.6, 1);
}

#workspaces button:hover {
    background-color: @def-color;
    color: @bg-color;
    font-size: 7px;
    border-radius: 20px;
    min-width: 60px;
}

#workspaces button.active {
    background-color: @def-color;
    min-width: 60px;
}

#workspaces button.urgent {
    background-color: @def-color;
}

#window {
    font-size: 14px;
    background-color: @bg-color;
    margin-left: 4px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 11px;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.7, 0.6, 1);
}

#window:hover {
    background-color: @def-color;
    color: @bg-color;
    border-radius: 11px;
}

/******************/
/* MODULES CENTER */
/******************/

#cpu {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 11px;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.7, 0.6, 1);
}

#cpu:hover {
    background-color: @def-color;
    color: @bg-color;
}

#memory {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 11px;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.7, 0.6, 1);
}

#memory:hover {
    background-color: @def-color;
    color: @bg-color;
}

#disk {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 11px;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.7, 0.6, 1);
}

#disk:hover {
    background-color: @def-color;
    color: @bg-color;
}

/*****************/
/* MODULES RIGHT */
/*****************/

#language {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 11px;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.7, 0.6, 1);
}

#language:hover {
    background-color: @def-color;
    color: @bg-color;
}

#pulseaudio {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 11px;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.7, 0.6, 1);
}

#pulseaudio:hover {
    background-color: @def-color;
    color: @bg-color;
}

#network {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 11px;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.7, 0.6, 1);
}

#network:hover {
    background-color: @def-color;
    color: @bg-color;
}

#clock {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 11px;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0, 0.7, 0.6, 1);
}

#clock:hover {
    background-color: @def-color;
    color: @bg-color;
}
